@font-face {
      font-family: 'Montserrat';
      src: url('./fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Playfair-display';
      src: url('./fonts/playfair_display/PlayfairDisplay-Medium.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

:root {
      --background-1: #f9f4ea;
      --background-2: #f1eadc;
      --background-1-dark: #060b15;
      --background-2-dark: #0e1523;
}

* {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat';
}

h1 {
      font-family: 'Playfair-display';
}

body.dark-theme nav.navbar {
      background-color: var(--background-1-dark);
}

body.dark-theme div.presentation {
      background-color: var(--background-2-dark);
}

nav.navbar {
      background-color: var(--background-1);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 60px;
}

nav.navbar ul.list-title {
      display: flex;
      flex-direction: row;
      list-style: none;
}

nav.navbar li {
      padding: 0 20px;
}





div.presentation {
      background-color: var(--background-2);
}


div.mes-projets {
      background-color: var(--background-2);
      display: flex;
      flex-direction: column;
      padding: 20px 50px;
}

div.mes-projets .projets {
      display: flex;
      flex-wrap: wrap;
}

div.mes-projets .projet {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: 10px;
      background-color: #ffffff;
}

div.mes-projets .projet p {
      padding: 10px;
}

div.mes-projets .link {
      padding: 10px;
      text-decoration: none;
      color: black;
      font-weight: 700;
      position: relative;
}

div.mes-projets .link:hover {
      color: rgb(255, 255, 255);
      background-color: #060b15;
}

div.mes-projets .link::after {
      content: ' ';
      border-right: red 2px solid;
      border-top: red 2px solid;
      transform: rotateZ(45deg);
      position: absolute;
      height: 8px;
      width: 8px;
      top: 14px;
      right: 20px;
}

div.mes-projets .link::before {
      content: ' ';
      background-color: red;
      position: absolute;
      height: 2px;
      width: 14px;
      top: 18px;
      right: 20px;
}