@import './var/color.scss';
@import './var/font.scss';

div.about {
      padding-bottom: 30px;
      padding-top: 110px;

      p {
            width: 90%;
            text-align: center;

            @media screen and (min-width:650px) {
                  width: 600px;
            }
      }
}