$color-background-1: #f9f4ea;
$color-background-2: #f1eadc;
$color-text: #000000;
$color-text-hover: #222222;
$color-text-invert: #ffffff;
$color-background-1-invert: #060b15;
$color-background-1-dark: #060b15;
$color-background-2-dark: #0e1523;